@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');

:root {
  --text-color: #ffffff;
  --card-front-color: #15AE68;
  --card-back-color: #000000;
}

body {
  background: url(img/bg-desktop-red.webp);
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.cartao {
  background-color: var(--card-front-color);
  width: calc(33% - 2rem); /* Espaço entre os cartões */
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.cartao__conteudo h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.cartao__conteudo__pergunta p {
  color: var(--text-color);
  font-weight: 500;
}

.cartao__conteudo__resposta p {
  color: var(--card-back-color);
  font-weight: 700;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
